<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Con" connectionString="Data Source=DESKTOP-CF5GLPO;Initial Catalog=HotelManagement;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="HotelManagementSystem.Properties.Settings.HotelManagementConnectionString"
      connectionString="Data Source=DESKTOP-CF5GLPO\SQLEXPRESS;Initial Catalog=HotelManagement;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>